{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>kraguljcki</title>
	<link href="{% static 'pp/css/main.css' %}" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <h1>KT6: KOMPRESIJSKA OBVEZA</h1>
	<p>Kompresijska obveza je obveza, ki tesno pritiska na rano in mesto krvavitve. Z njo zaustavljamo skoraj
	vse krvavitve na glavi, trupu in udih (rokah in nogah). <p>
	<p><u>Kako namestimo kompresijsko obvezo?</u></p>
	<ol>
		<li> Sterilno pokrijemo rano.</li>
		<li>Namestimo čvrst predmet (ki ga trenutku ne potrebujemo – če boš klical 112, poskrbi, da bo
		telefon ostal pri tebi) na sterilno gazo za dodatno pomoč pri ustavljanju krvavitve.</li>
		<li>S povojem obvežemo predmet in gazo na poškodovano mesto.</li>
		<li>Preverjamo barvo uda in pulz, da vidimo, ali se kri še normalno pretaka po žilah uda.</li>
		<li>Imobiliziramo ud. Pri vseh huje krvavečih ranah je potrebno kompresijsko obvezo preveriti na
		vsake 5-10 min. Če obveza pušča, kar čeznjo namestimo še kak predmet in z dodatnim povojem močneje povijemo.</li>
	</ol>

	<img src="{% static 'pp/images/kompresijska.png' %}" alt="kompresijska" width=500px>

	<h2>NALOGA</h2>
		<p> Vpiši pravilni vrstni red:</p>
		<form action='' method='POST'>
		{% csrf_token %}
		<ul style="list-style: none;">
			<li><input id="q1" type="text" name="q1" size="1" STYLE="background-color:{{ c1 }}" value="{{ q1 }}">Sterilno pokrijemo rano.</li>
			<li><input id="q2" type="text" name="q2" size="1" STYLE="background-color:{{ c2 }}" value="{{ q2 }}">Preverjamo barvo uda in pulz, da vidimo, ali se kri še normalno pretaka po žilah uda.</li>
			<li><input id="q3" type="text" name="q3" size="1" STYLE="background-color:{{ c3 }}" value="{{ q3 }}">Imobiliziramo ud. Pri vseh huje krvavečih ranah je potrebno kompresijsko obvezo preveriti na
			vsake 5 – 10 min. Če obveza pušča, kar čeznjo namestimo še kak predmet in z dodatnim
			povojem močneje povijemo.</li>
			<li><input id="q4" type="text" name="q4" size="1" STYLE="background-color:{{ c4 }}" value="{{ q4 }}">S povojem obvežemo predmet in gazo na poškodovano mesto.</li>
			<li><input id="q5" type="text" name="q5" size="1" STYLE="background-color:{{ c5 }}" value="{{ q5 }}">Namestimo čvrst predmet na sterilno gazo za dodatno pomoč pri ustavljanju krvavitve.</li>
		</ul>
	<input type="submit" value="preveri">
	</form>
	<br>
	<hr>
	<form action="../gesla/" method="post">
		{% csrf_token %}
		<input type="hidden" name="ime" value="{{ ime }}">
		<input type="hidden" name="vod" value="{{ vod }}">
		<button href="../gesla" onclick="this.closest('form').submit();return false;">NAZAJ</button>
	</form>


  </body>
</html>
