{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>snezak</title>
	<link href="{% static 'pp/css/main.css' %}" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <h1>KT2: KLIC 112</h1>
	<p><i>Na številko <strong>112</strong> pokličemo v primeru nesreče oziroma zvečane nevarnosti za nesreče in v primeru, da
		potrebujemo kakršnokoli pomoč.</i></p>
	<p>Številka 112 velja po celi Evropski uniji in tudi v nekaterih drugih evropskih državah.</p>
	<p>Klic službe nujne medicinske pomoči (NMP):</p>
	<ul>
		<li>Kdo kliče? (se predstavimo)</li>
		<li>Kaj se je zgodilo? (npr. požar, potres, prometna nesreča ipd.)</li>
		<li>Kje se je zgodilo? (točen naslov, lokacija)</li>
		<li>Kdaj se je zgodilo? (npr. pred 5min, danes ob 10.45)</li>
		<li>Koliko ponesrečencev je in kdo so? (število ponesrečencev, osebne podatke ponesrečence – v primeru, da tega ne moremo ugotoviti, sporočimo vsaj spol)</li>
		<li>Kakšne so poškodbe? (je pri zavesti?, zlomi, krvavitve)</li>
		<li>Kakšne so okoliščine na kraju nesreče? (npr. prisotne so nevarne snovi, požar, visok sneg, sevanje …)</li>
		<li>Kakšno pomoč potrebujemo? (npr. pomoč zdravnika, gasilcev, veterinarjev, pomoč gorske reševalne enote …)</li>
	</ul>
	<img src="{% static 'pp/images/klic1.jpg' %}" alt="klic" width=500px>
	<p> Ko kličemo, podatke posredujemo čim bolj zbrano in mirno. <strong>Nikoli ne prekinemo telefonske zveze</strong>,
	saj bo dispečer (zdravstveni tehnik/zdravnik) na drugi strani telefona povprašal še po kakšnih drugih
	pomembnih informacijah. Poškodovanca <strong>nikoli ne zapustimo</strong> (naj bo ena oseba vedno pri oboleli
	osebi). 
	</p>
	<p>
	Pred prihodom nujne medicinske pomoči naj ena oseba poskrbi, da so odprti vsi prehodi do
	poškodovanca in da so domače živali zaprte, ter počaka reševalce na vidnem mestu.
	Do prihoda nujne medicinske pomoči poškodovancu nudimo prvo pomoč prisotni na kraju nesreče.
	</p>

	<h2>NALOGA</h2>
	<p> Dopolni: <p>
	<form action="" method="post">
		{% csrf_token %}
		<p>V primeru, da potrebujemo nujno medicinsko pomoč (NMP) pokličemo na številko  <input id="q1" type="text" name="q1" size="1" STYLE="background-color:{{ c1 }}" value="{{ q1 }}">. Ko kličemo, podatke posredujemo čim bolj zbrano in mirno. <input id="q2" type="text" name="q2" size="4" value="{{ q2 }}" STYLE="background-color:{{ c2 }}"> ne prekinemo telefonske zveze in nikoli ne <input id="q3" type="text" name="q3" size="6" value="{{ q3 }}" STYLE="background-color:{{ c3 }}"> poškodovanca.</p>
	<input type="submit" value="preveri">
	</form>
	<br>
	<img src="{% static 'pp/images/klic2.png' %}" alt="klic" width=320px>
	<br>
	<br>
	<hr>
	<form action="../gesla/" method="post">
		{% csrf_token %}
		<input type="hidden" name="ime" value="{{ ime }}">
		<input type="hidden" name="vod" value="{{ vod }}">
		<button href="../gesla" onclick="this.closest('form').submit();return false;">NAZAJ</button>
	</form>
  </body>
</html>
