{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>snezinka</title>
	<link href="{% static 'pp/css/brane.css' %}" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
	<h1>KT1: AED</h1>
    <p>
	AED ali avtomatski eksterni defibrilator je prenosna elektronska naprava, ki jo uporabimo vedno, ko
	se poškodovanec ne odziva in ne diha. Če je do tega prišlo zaradi zastoja srca, lahko AED s pomočjo
	električnega sunka srce ponovno požene v pravi ritem in s tem reši življenje. Kljub temu, da naprava
	uporabi električni sunek, je uporaba povsem varna! Ob vklopu začne defibrilator podajati jasna
	glasovna navodila, ki jim sledite.
	</p>
	<p>Prikaz oživljanja in uporabe AED-ja:
	<a href="https://www.youtube.com/watch?v=Jo6Gr8rlAjo"> video</a></li>
	</p>
	<img src="{% static 'pp/images/aed.jpg' %}" alt="AED" style="max-width:100%">

	<h2>NALOGA</h2>
	<p> Slikaj se pri najbližjem AED-ju tvojega doma. Najdi ga na tej <a href="https://aed-baza.si/"> povezavi </a>. Sliko pošlji na mail (<a href = "mailto: tinkara.kampjut@gmail.com?subject=prva pomoč - aed">tinkara.kampjut@gmail.com</a>). <strong><br>Pozor! Achtung! Attenzione!</strong> Kreativnost in zabavnost prinašata dodatne točke.
	<br>
	<br>
	<hr>
	<form action="../gesla/" method="post">
		{% csrf_token %}
		<input type="hidden" name="ime" value="{{ ime }}">
		<input type="hidden" name="vod" value="{{ vod }}">
		<button href="../gesla" onclick="this.closest('form').submit();return false;" style="width:30%;height:40px"> NAZAJ </button>
	</form>
  </body>
</html>
