@media screen and (min-width: 801px) {
  body{
  	font-size: 19px;
  }
}

@media screen and (max-width: 800px) {
  body{
  	font-size: 3.5vw;
  }
}

body {
 margin: 15px;
 padding: 10px;
 background-color: #ffb3b3;
 align: center;
 margin-bottom:50px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
  background-color: #ff5050;
}

hr {
  margin-bottom: 20px;
}
